<p id="notice"><%= notice %></p>

<p>
  <strong>S name:</strong>
  <%= @store.s_name %>
</p>

<p>
  <strong>S num:</strong>
  <%= @store.s_num %>
</p>

<p>
  <strong>S add:</strong>
  <%= @store.s_add %>
</p>

<%= link_to 'Back', category_path(@category) %>


