<p id="notice"><%= notice %></p>

<p>
  <strong>Integer:</strong>
  <%= @bucket.integer %>
</p>

<p>
  <strong>Total:</strong>
  <%= @bucket.total %>
</p>

<%= link_to 'Edit', edit_bucket_path(@bucket) %> |
<%= link_to 'Back', buckets_path %>
